.offer__container {
    width: 90vw;
    background: #fff;
    margin-top: 0;
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    margin-left: 5vw;
}

.offer__upgrade {
    color: #fff;
    background: blue;
    width: max-content;
    border-radius: 0.5rem;
    padding: 0.7rem;
    height: max-content;
}

.offer__content {
    margin-top: 0.5rem;
}

.out {
    margin-left: 5rem;
}

.status{
    margin-top: 0;
    margin-left: 4rem;
    background: gray;
    height: 0.3rem;
}

.progress__content {
    background: white;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .offer__upgrade {
        margin-right: 0.3rem;
        margin-top: 1rem;
    }
    .progress1{
        display: none;
    }
  }