.logo {
  height: 10vh;
  margin-right: 5vw;
}

.navbar {
  background: #f2f7ff;
  padding: 0;
  height: 10vh;
}

.link {
    margin: 1rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: blue;
    cursor: pointer;
}

.active {
    color: blue;
}

.refresh {
    color: blue;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 50%;
    width: max-content;
    padding: 0.3rem;
}
