html,
body {
  margin: 0;
  background-color: #f2f7ff;
  color: black;
}

hr {
  background: #f2f7ff;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.white1 {
  background-color: #f2f7ff;
  margin-top: 0;
}